openapi: 3.0.3
servers:
  - url: https://pay.solidgate.com/api/v1
    description: Card payments API
  - url: https://gate.solidgate.com/api/v1
    description: Alternative payment methods API
  - url: https://subscriptions.solidgate.com/api/v1
    description: Subscriptions API
  - url: https://payment-page.solidgate.com/api/v1
    description: Payment Page API
  - url: https://reports.solidgate.com/api/v1
    description: Reports API
  - url: https://risks.solidgate.com/api/v1
    description: Risks API
  - url: https://api.solidgate.com/api/v1
    description: General API
info:
  license:
    url: https://solidgate.com/legal/terms-of-use/
    name: Terms and policies
  version: 1.0.0
  title: Solidgate • API reference
  description: >
    The Solidgate API is a payment gateway API that enables merchants to
    securely process and manage transactions, including card payments and
    alternative payment methods.


    <br>


    <p><strong>OpenAPI specification</strong></p>

    <p>Full schema for programmatic integration: endpoint paths,
    request/response shapes, and field definitions.</p>


    <div style="display:flex;flex-wrap:wrap;gap:8px;margin-bottom:24px;">

      <a href="/_bundle/api/@v1/index.yaml?download" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <rect x="1" y="1" width="12" height="12" rx="1.5" stroke="#fff" stroke-width="0.9" fill="none"/>
          <path d="M4 4.5L7 7.5L10 4.5M7 7.5V10" stroke="#fff" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
        </svg>
        YAML
      </a>

      <a href="/_bundle/api/@v1/index.json?download" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M5.5 2C4.3 2 3.8 2.5 3.8 3.8V5.2C3.8 6.2 3.3 6.5 2.3 6.7V7.3C3.3 7.5 3.8 7.8 3.8 8.8V10.2C3.8 11.5 4.3 12 5.5 12" stroke="#fff" stroke-width="1" stroke-linecap="round" fill="none"/>
          <path d="M8.5 2C9.7 2 10.2 2.5 10.2 3.8V5.2C10.2 6.2 10.7 6.5 11.7 6.7V7.3C10.7 7.5 10.2 7.8 10.2 8.8V10.2C10.2 11.5 9.7 12 8.5 12" stroke="#fff" stroke-width="1" stroke-linecap="round" fill="none"/>
        </svg>
        JSON
      </a>

    </div>


    <br>


    <p><strong>Get started quickly</strong></p>

    <p>Solidgate offers APIs for processing and managing payments via HTTP/REST
    or Solidgate libraries, with JSON as the data exchange format.</p>


    <div style="display:flex;flex-wrap:wrap;gap:8px;margin-bottom:24px;">
      <a href="https://www.postman.com/solidgate/solidgate-api/overview" target="_blank" rel="noopener noreferrer" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" style="flex-shrink:0;" aria-hidden="true">
          <path fill="#fff" d="M13.527.099C6.955-.744.942 3.9.099 10.473c-.843 6.572 3.8 12.584 10.373 13.428 6.573.843 12.587-3.801 13.428-10.374C24.744 6.955 20.101.943 13.527.099zm2.471 7.485a.855.855 0 0 0-.593.25l-4.453 4.453-.307-.307-.643-.643c4.389-4.376 5.18-4.418 5.996-3.753zm-4.863 4.861l4.44-4.44a.62.62 0 1 1 .847.903l-4.699 4.125-.588-.588zm.33.694l-1.1.238a.06.06 0 0 1-.067-.032.06.06 0 0 1 .01-.073l.645-.645.512.512zm-2.803-.459l1.172-1.172.879.878-1.979.426a.074.074 0 0 1-.085-.039.072.072 0 0 1 .013-.093zm-3.646 6.058a.076.076 0 0 1-.069-.083.077.077 0 0 1 .022-.046h.002l.946-.946 1.222 1.222-2.123-.147zm2.425-1.256a.228.228 0 0 0-.117.256l.203.865a.125.125 0 0 1-.211.117h-.003l-.934-.934-.294-.295 3.762-3.758 1.82-.393.874.874c-1.255 1.102-2.971 2.201-5.1 3.268zm5.279-3.428h-.002l-.839-.839 4.699-4.125a.952.952 0 0 0 .119-.127c-.148 1.345-2.029 3.245-3.977 5.091zm3.657-6.46l-.003-.002a1.822 1.822 0 0 1 2.459-2.684l-1.61 1.613a.119.119 0 0 0 0 .169l1.247 1.247a1.817 1.817 0 0 1-2.093-.343zm2.578 0a1.714 1.714 0 0 1-.271.218h-.001l-1.207-1.207 1.533-1.533c.661.72.637 1.832-.054 2.522zM18.855 6.05a.143.143 0 0 0-.053.157.416.416 0 0 1-.053.45.14.14 0 0 0 .023.197.141.141 0 0 0 .084.03.14.14 0 0 0 .106-.05.691.691 0 0 0 .087-.751.138.138 0 0 0-.194-.033z"/>
        </svg>
        Postman
      </a>
    </div>


    <br>


    <p><strong>Frontend SDK</strong></p>

    <p>These are the primary frontend libraries. Use them to embed payment forms
    directly in your client-side application.</p>


    <div style="display:flex;flex-wrap:wrap;gap:8px;margin-bottom:24px;">

      <a href="https://github.com/solidgate-tech/react-sdk" target="_blank" rel="noopener noreferrer" id="reactsdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <circle cx="7" cy="7" r="1.2" fill="#fff"/>
          <ellipse cx="7" cy="7" rx="6" ry="2" stroke="#fff" stroke-width="0.9" fill="none"/>
          <ellipse cx="7" cy="7" rx="6" ry="2" stroke="#fff" stroke-width="0.9" fill="none" transform="rotate(60,7,7)"/>
          <ellipse cx="7" cy="7" rx="6" ry="2" stroke="#fff" stroke-width="0.9" fill="none" transform="rotate(120,7,7)"/>
        </svg>
        React
      </a>
      <a href="https://github.com/solidgate-tech/vue-sdk" target="_blank" rel="noopener noreferrer" id="vuesdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M1 2L7 12.5L13 2H10.5L7 8L3.5 2Z" fill="#fff"/>
          <path d="M3.5 2L7 8L10.5 2H8.5L7 5L5.5 2Z" fill="#000"/>
        </svg>
        Vue
      </a>
      <a href="https://github.com/solidgate-tech/angular-sdk" target="_blank" rel="noopener noreferrer" id="angularsdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M7 1L1.5 3L2.5 10.5L7 13.5L11.5 10.5L12.5 3Z" fill="#fff"/>
          <path d="M7 3.5L4.5 10H5.8L6.4 8.5H7.6L8.2 10H9.5L7 3.5ZM7 5.5L7.3 7.5H6.7Z" fill="#000"/>
        </svg>
        Angular
      </a>
    </div>


    <br>


    <p><strong>Backend SDK</strong></p>

    <p>Multiple backend libraries to manage server-side processing, advanced
    integrations, form resign flows, and reconciling orders.</p>


    <div style="display:flex;flex-wrap:wrap;gap:8px;">
      <a href="https://github.com/solidgate-tech/nodejs-sdk" target="_blank" rel="noopener noreferrer" id="nodesdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M7 1L13 4.5V9.5L7 13L1 9.5V4.5Z" stroke="#fff" stroke-width="0.9"/>
          <text x="7" y="8.5" fill="#fff" font-family="Arial,sans-serif" font-size="3.5" font-weight="bold" text-anchor="middle">JS</text>
        </svg>
        Node.js
      </a>
      <a href="https://github.com/solidgate-tech/php-sdk" target="_blank" rel="noopener noreferrer" id="phpsdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <ellipse cx="7" cy="7" rx="6" ry="3.5" stroke="#fff" stroke-width="0.9"/>
          <text x="7" y="8.5" fill="#fff" font-family="Arial,sans-serif" font-size="3.5" font-weight="bold" text-anchor="middle">php</text>
        </svg>
        PHP
      </a>
      <a href="https://github.com/solidgate-tech/go-sdk" target="_blank" rel="noopener noreferrer" id="gosdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M6.5 4C4 4 2.5 5.5 2.5 7C2.5 8.5 4 10 6.5 10V7H4.5" stroke="#fff" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round"/>
          <ellipse cx="10.5" cy="7" rx="2" ry="3" stroke="#fff" stroke-width="0.9"/>
        </svg>
        Go
      </a>
      <a href="https://github.com/solidgate-tech/kotlin-sdk" target="_blank" rel="noopener noreferrer" id="kotlinsdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M2 2H12L2 12Z" fill="#fff"/>
          <path d="M2 12L7 7L12 12Z" fill="#fff"/>
        </svg>
        Kotlin
      </a>
      <a href="https://github.com/solidgate-tech/python-sdk" target="_blank" rel="noopener noreferrer" id="pythonsdk" class="sg-lang-btn" style="display:inline-flex;align-items:center;gap:5px;background:#000;color:#fff;padding:6px 14px;border-radius:6px;text-decoration:none;font-size:13px;font-family:'Inter',sans-serif;width:96px;justify-content:flex-start;transition:opacity 0.2s ease;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" style="flex-shrink:0;">
          <path d="M7 1C4.5 1 3.5 2 3.5 4V6H7V6.5H4C2.5 6.5 1.5 7.5 1.5 9.5V10.5" stroke="#fff" stroke-width="0.9" stroke-linecap="round" fill="none"/>
          <path d="M7 13C9.5 13 10.5 12 10.5 10V8H7V7.5H10C11.5 7.5 12.5 6.5 12.5 4.5V3.5" stroke="#fff" stroke-width="0.9" stroke-linecap="round" fill="none"/>
          <circle cx="5.5" cy="3.5" r="0.6" fill="#fff"/>
          <circle cx="8.5" cy="10.5" r="0.6" fill="#fff"/>
        </svg>
        Python
      </a>
    </div>


    <div style="display:flex; flex-wrap:wrap; gap:8px; margin-top: 20px;">
        <p>Enhance understanding with our <a href="https://docs.solidgate.com/payments/" target="_blank">payment guide</a>. <br>
        For help, write to <a href="https://support.solidgate.com/support/tickets/new" target="_blank">support@solidgate.com.</a></p>
    </div>
  x-logo:
    url: https://cdn.solidgate.com/logos/logo_api_sld.svg
    backgroundColor: '#fafafa'
    altText: Solidgate logo
tags:
  - name: Card payments
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/payments/card-payments/"
      target="_blank">card payments</a> allows merchants to securely integrate
      with a payment gateway to process and manage card transactions.
  - name: Alternative payment methods
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/payments/alternative-payments/"
      target="_blank">alternative payment methods</a> allows merchants to
      securely integrate with a payment gateway to process and manage APM
      transactions such as PayPal, Pay by Bank, etc.
  - name: Products and prices
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/billing/manage-products/"
      target="_blank">billing</a> management allows merchants to create and
      update products and pricing effectively, ensuring businesses can adapt to
      diverse customer needs and preferences.
  - name: Manage subscriptions
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/billing/subscriptions/subscriptions-1.0/subscription-overview/"
      target="_blank">subscriptions</a> empowers merchants in efficiently and
      securely managing subscriptions for a positive customer experience and
      business growth.


      Merchants can <a
      href="https://docs.solidgate.com/billing/subscriptions/subscriptions-1.0/manage-subscription/"
      target="_blank">easily handle</a> their subscriptions using the available
      methods such as switching subscription products, pausing and resuming
      services, cancelling subscriptions, and providing customers with the
      option to update payment information.
  - name: Retrieve subscription data
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/billing/subscriptions/subscriptions-1.0/manage-subscription/retrieve-subscription-data/"
      target="_blank">accessing subscription information</a> provides merchants
      with the ability to obtain precise and up-to-date details regarding
      customer subscriptions.


      To get in-depth insights into customer subscriptions, use <a
      href="https://api-docs.solidgate.com/api/reports/retrieve-subscriptions"
      target="_blank">subscription report</a> that is specifically designed to
      retrieve and combine all subscription-related data.
  - name: Payment page
    description: >-
      Solidgate <a
      href="https://docs.solidgate.com/payments/integrate/payment-page/create-your-payment-page/"
      target="_blank">Payment Page</a> allows merchants to securely redirect
      customers to a payment gateway's hosted page for completing transactions,
      without the need for custom integration on the merchant's website.
  - name: Payment link
    description: >-
      Solidgate <a
      href="https://docs.solidgate.com/payments/integrate/payment-link/"
      target="_blank">Payment Link</a> feature offers a hassle-free way to
      conduct online sales without integration, allowing merchants to share a
      URL that leads customers to a secure payment page for both one-time and
      subscription transactions.
  - name: Taxes
    description: >-
      Solidgate’s <a href="https://docs.solidgate.com/billing/taxes/"
      target="_blank">tax solution</a> empowers businesses to manage and
      automate tax calculations across multiple regions efficiently. By
      integrating the tax solution, merchants can support accurate tax handling
      and compliance with local regulations.
  - name: Files upload
    description: >-
      Solidgate API for file uploads enables to securely upload files to the
      system, such as evidence for chargeback disputes or documents required for
      verification purposes.
  - name: Reports
    description: >-
      Solidgate API for <a href="https://docs.solidgate.com/reporting/"
      target="_blank">reports</a> allows merchants to securely access
      transaction data and generate customized reports for analyzing and
      tracking the performance of their payment operations.


      With Solidgate’s reconciliation functionality, merchants can track cash
      daily, identify fund flow gaps, gain complete transaction lifecycle
      visibility, implement strong financial controls, and establish scalable
      financial processes.


      <blockquote>
        <p>Solidgate data comes with a 60-minute delay, thus it is not recommended for real-time analysis.</p>
        <p>Please note that reports may be inaccessible for about 30 minutes on Wednesdays at 5:00 PM (UTC) due to scheduled external maintenances. Once complete, all reports will be available with data preserved.</p>
      </blockquote>
  - name: Fraud prevention
    description: >-
      Solidgate API for <a href="https://docs.solidgate.com/risks/fraud/"
      target="_blank">fraud prevention</a> enables merchants to set up and
      manage fraud prevention lists, helping to block fraudulent activities
      while ensuring secure transactions.


      By configuring fraud prevention lists, merchants can define specific
      conditions to allow or reject transactions, enhancing the security and
      reliability of their payment operations.
  - name: Dispute representment
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/risks/chargebacks/#respond-to-chargebacks"
      target="_blank">card dispute representment</a> and <a
      href="https://docs.solidgate.com/risks/paypal-risk-metrics/manage/#dispute-representment"
      target="_blank">PayPal dispute representment</a> enables merchants to
      defend card and PayPal disputes by uploading evidence files, helping to
      protect revenue and resolve disputed orders efficiently.
  - name: Manage webhooks
    description: >-
      Solidgate API for <a
      href="https://docs.solidgate.com/payments/integrate/webhooks/"
      target="_blank">webhook management</a> allows merchants to create, update,
      list, and delete webhook endpoint configurations. 
x-tagGroups:
  - name: Payments
    tags:
      - Card payments
      - Alternative payment methods
  - name: Billing
    tags:
      - Products and prices
      - Taxes
      - Manage subscriptions
      - Retrieve subscription data
  - name: Risks
    tags:
      - Fraud prevention
      - Dispute representment
  - name: Checkout solutions
    tags:
      - Payment page
      - Payment link
  - name: Webhooks
    tags:
      - Manage webhooks
  - name: Reporting
    tags:
      - Reports
  - name: Files
    tags:
      - Files upload
paths:
  /init:
    servers:
      - url: https://payment-page.solidgate.com/api/v1
        description: Payment Page Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: create-payment-page
      summary: Create page
      description: |-
        <blockquote>
          <p>Please note that the payment page link <b>expires in 24 hours</b>.</p>
        </blockquote>
      tags:
        - Payment page
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCheckoutSolutionsCreatePage'
                - $ref: >-
                    #/components/schemas/RequestCheckoutSolutionsCreateSubscriptionPaymentPage
                - $ref: >-
                    #/components/schemas/RequestCheckoutSolutionsCreateInvoicePaymentPage
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCheckoutSolutionsCreatePage'
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCheckoutSolutionsCreateSubscriptionPaymentPage
              Invoice payment:
                $ref: >-
                  #/components/examples/ExampleCheckoutSolutionsCreateInvoicePaymentPage
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsPage'
                  - $ref: >-
                      #/components/schemas/ResponseCheckoutSolutionsAuthenticationFailed
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsError'
              examples:
                Success:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseCreatePage
                Authentication failed:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseAuthenticationFailed
                Error:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseValidationError
  /deactivate:
    servers:
      - url: https://payment-page.solidgate.com/api/v1
        description: Payment Page Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: deactivate-payment-page
      summary: Deactivate page
      description: Deactivate an active payment page to prevent further use.
      tags:
        - Payment page
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCheckoutSolutionsDeactivatePage'
      responses:
        '200':
          description: >-
            Request received


            <blockquote style="border-left: 4px solid #1d8126; margin-left:
            20px;">
              <p style="color: #1d8126; margin-left: 6px;">Response either confirms success or returns error object.</p>
            </blockquote>
          content:
            application/json:
              schema:
                anyOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: string
                        description: Payment page has been deactivated.
                        example: ok
                  - $ref: >-
                      #/components/schemas/ResponseCheckoutSolutionsAuthenticationFailed
              examples:
                Success:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseSuccessDeactivate
                Authentication failed:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseAuthenticationFailed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsError'
              examples:
                Validation error:
                  $ref: '#/components/examples/ExampleCheckoutDeactivateLinkError'
  /link/init:
    servers:
      - url: https://payment-page.solidgate.com/api/v1
        description: Payment Link Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: create-payment-link
      summary: Create link
      description: >-
        Payment links are code-free and reusable, allowing you to share them as
        many times as needed.
      tags:
        - Payment link
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCheckoutSolutionsCreateLink'
                - $ref: >-
                    #/components/schemas/RequestCheckoutSolutionsCreateSubscriptionPaymentLink
                - $ref: >-
                    #/components/schemas/RequestCheckoutSolutionsCreateInvoicePaymentLink
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCheckoutSolutionsCreateLink'
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCheckoutSolutionsCreateSubscriptionPaymentLink
              Invoice payment:
                $ref: >-
                  #/components/examples/ExampleCheckoutSolutionsCreateInvoicePaymentLink
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsLink'
                  - $ref: >-
                      #/components/schemas/ResponseCheckoutSolutionsAuthenticationFailed
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsError'
              examples:
                Success:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseCreateLink
                Authentication failed:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseAuthenticationFailed
                Error:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseValidationError
  /link/deactivate:
    servers:
      - url: https://payment-page.solidgate.com/api/v1
        description: Payment Link Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: deactivate-payment-link
      summary: Deactivate link
      description: Deactivate an active payment link to prevent further use.
      tags:
        - Payment link
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCheckoutSolutionsDeactivateLink'
      responses:
        '200':
          description: >-
            Request received


            <blockquote style="border-left: 4px solid #1d8126; margin-left:
            20px;">
              <p style="color: #1d8126; margin-left: 6px;">Response either confirms success or returns error object.</p>
            </blockquote>
          content:
            application/json:
              schema:
                anyOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: string
                        description: Payment link has been deactivated.
                        example: ok
                  - $ref: >-
                      #/components/schemas/ResponseCheckoutSolutionsAuthenticationFailed
                  - $ref: '#/components/schemas/ResponseCheckoutSolutionsError'
              examples:
                Success:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseSuccessDeactivate
                Authentication failed:
                  $ref: >-
                    #/components/examples/ExampleCheckoutSolutionsResponseAuthenticationFailed
                Validation error:
                  $ref: '#/components/examples/ExampleCheckoutDeactivateLinkError'
  /charge:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-card-charge
      summary: Charge
      description: >-
        Basic operation withdraws funds from the cardholder’s account, with
        optional 3D Secure verification, and tokenizes the cardholder's data for
        future payments.
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCardsCharge'
                - $ref: '#/components/schemas/RequestCardsPaymentChargeDataType'
                - $ref: '#/components/schemas/RequestCardsProductBasedPaymentCharge'
                - $ref: '#/components/schemas/RequestCardsSubscriptionPaymentCharge'
            examples:
              PAN Payment:
                $ref: '#/components/examples/ExampleCardsRequestChargePaymentPan'
              DPAN Payment:
                $ref: '#/components/examples/ExampleCardsRequestChargePaymentDpan'
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestProductBasedPaymentCharge
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestSubscriptionPaymentCharge
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsCharge'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseCharge'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /google-pay:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-google-pay
      summary: Google Pay
      description: >-
        An API request for Google Pay allows a merchant to initiate a Google Pay
        transaction, by sending a request to the Google Pay API with the
        required parameters such as amount, currency, and order identifier,
        which will be processed, and the response will be sent back with the
        transaction details.
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCardsGooglePay'
                - $ref: >-
                    #/components/schemas/RequestCardsProductBasedPaymentGooglePay
                - $ref: >-
                    #/components/schemas/RequestCardsSubscriptionPaymentGooglePay
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCardsRequestGooglePay'
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestProductBasedPaymentGooglePay
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestSubscriptionPaymentGooglePay
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsGooglePay'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseGooglePay'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /apple-pay:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-apple-pay
      summary: Apple Pay
      description: >-
        An API request for Apple Pay allows a merchant to initiate an Apple Pay
        transaction, by sending a request to the Apple Pay API with the required
        parameters such as amount, currency, and order identifier, which will be
        processed, and the response will be sent back with the transaction
        details.
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCardsApplePay'
                - $ref: '#/components/schemas/RequestCardsProductBasedPaymentApplePay'
                - $ref: '#/components/schemas/RequestCardsSubscriptionPaymentApplePay'
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCardsRequestApplePay'
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestProductBasedPaymentApplePay
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestSubscriptionPaymentApplePay
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsApplePay'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseApplePay'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /increment:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: increment-card-auth
      summary: Incremental auth
      description: >-
        <a
        href="https://docs.solidgate.com/payments/card-payments/estimated-and-incremental-auth/"
        target="_blank">Incremental authorization</a> operation creates
        additional authorization transactions on top of an estimated
        authorization to increase the total authorized amount for the order.


        <blockquote style="border-left: 4px solid #D1E6DF; ">
          <p>The <a href="https://docs.solidgate.com/payments/card-payments/estimated-and-incremental-auth/#payment-configuration" target="_blank">payment configuration</a> conditions must be met.</p>
        </blockquote>


        <blockquote style="border-left: 4px solid #F2C4C4; ">                
            <p>Maximum 50 increments allowed per order.</p>
        </blockquote>


        This operation creates a <code>auth</code> transaction with
        <code>authorization_type</code> <code>incremental</code> within the same
        order.
      tags:
        - Card payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsIncrement'
            examples:
              Payment incremental auth:
                $ref: '#/components/examples/ExampleCardsRequestIncrement'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsIncrement'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseIncrement'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error 2.04 Card brand is not supported:
                  $ref: >-
                    #/components/examples/ExampleMainResponseErrorCardBrandNotSupported
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /recurring:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-card-recurring
      summary: Recurring
      description: >-
        Method that allows you to initiate tokenized payments. In contrast to
        charge request, token previously received has to be sent in the request
        instead of cardholder data.
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCardsRecurring'
                - $ref: >-
                    #/components/schemas/RequestCardsProductBasedPaymentRecurring
                - $ref: >-
                    #/components/schemas/RequestCardsSubscriptionPaymentRecurring
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCardsRequestRecurring'
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestProductBasedPaymentRecurring
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestSubscriptionPaymentRecurring
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsRecurring'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseRecurring'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /resign:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-card-resign
      summary: Resign
      description: >-
        Resign one-click enables token-based transactions (1-click payments)
        with additional CVV verification, exclusive to PCI-DSS certified
        merchants.

        <blockquote> <p>Implementing automated retry logic for declined
        operations is advisable, along with an additional strategy of triggering
        subsequent attempts at hourly intervals. It is important to ensure that
        the cumulative retry count remains under <b>120 attempts</b>.</p>
        </blockquote>
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestCardsResign'
                - $ref: '#/components/schemas/RequestCardsProductBasedPaymentResign'
                - $ref: '#/components/schemas/RequestCardsSubscriptionPaymentResign'
            examples:
              Payment:
                $ref: '#/components/examples/ExampleCardsRequestResign'
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestProductBasedPaymentResign
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleCardsRequestSubscriptionPaymentResign
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsResign'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseResign'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /refund:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: refund-card-order
      summary: Refund
      description: |-
        Request for transferring funds back to the cardholder.

        <blockquote>
          <p>Implementing automated retry logic for declined operations is advisable, along with an additional strategy of triggering subsequent attempts at hourly intervals. It is important to ensure that the cumulative retry count remains under <b>120 attempts</b>.</p>
        </blockquote>
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsRefund'
            examples:
              Refund:
                $ref: '#/components/examples/ExampleCardsRequestRefund'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsRefund'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseRefund'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /void:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: void-card-order
      summary: Void
      description: >-
        The void request serves to nullify pre-existing `auth` transactions by
        revoking the initial authorization. Be advised that the void method can
        only be executed for `auth` transactions. 


        <blockquote>
          <p>Implementing automated retry logic for declined operations is advisable, along with an additional strategy of triggering subsequent attempts at hourly intervals. It is important to ensure that the cumulative retry count remains under <b>120 attempts</b>.</p>
        </blockquote>
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsVoid'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsVoid'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseVoid'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /settle:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: settle-card-order
      summary: Settle
      description: >-
        The settle method facilitates the settlement of previously `auth`
        transactions. Be advised that if the subsequent settle `amount` is less
        than the initial `auth` transaction `amount`, the difference will be
        refunded to the cardholder's account.


        <blockquote>
          <p>Implementing automated retry logic for declined operations is advisable, along with an additional strategy of triggering subsequent attempts at hourly intervals. It is important to ensure that the cumulative retry count remains under <b>120 attempts</b>.</p>
        </blockquote>
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsSettle'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsSettle'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseSettle'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /status:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: get-status-card-order
      summary: Check order status
      description: >-
        The check order status request helps to retrieve the present status of a
        given order. 


        <blockquote>
          <p>If a transaction is undergoing 3D Secure verification, the response indicates an order status of <code>3ds_verify</code>.</p>
        </blockquote>
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsStatus'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsStatus'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseCardsError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseStatus'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleCardsResponseError'
  /arn-code:
    servers:
      - url: https://pay.solidgate.com/api/v1
        description: Card payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: get-arn-codes
      summary: Get ARN codes
      description: >-
        Get ARN codes request obtains ARN codes for specific orders, providing
        essential information about refunds, currencies, and transaction
        statuses.
      tags:
        - Card payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCardsArn'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseCardsArn'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleCardsResponseArn'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
  /init-payment:
    servers:
      - url: https://gate.solidgate.com/api/v1
        description: APM payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: create-apm-init-payment
      summary: Init payment
      description: >-
        Operation for the initiation of a payment using an <a
        href="https://docs.solidgate.com/payments/alternative-payments/"
        target="_blank">APMs</a>, performs order creation and prepares the
        transaction for payment, allowing the customer to proceed with the
        payment process.
      tags:
        - Alternative payment methods
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestApmInitPaymentDiscriminator'
                - $ref: >-
                    #/components/schemas/RequestApmInitOneTimeProductDiscriminator
                - $ref: '#/components/schemas/RequestApmInitSubscriptionDiscriminator'
            examples:
              PayPal:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentPaypal'
              Alipay:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentAlipay'
              Blik:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentBlik'
              Blik Pay Later:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentBlikBnpl'
              Bizum:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentBizum'
              Boleto:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentBoleto'
              Efecty:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentEfecty'
              GCash:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentGcash'
              Ideal:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentIdeal'
              MB WAY:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentMbway'
              Mercado Pago:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentMercadopago'
              MobilePay:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentMobilepay'
              Multibanco:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentMultibanco'
              OXXO:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentOxxo'
              Pay by Bank:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentOpenbanking'
              Pix QR:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentPixQr'
              Pix Automático:
                $ref: >-
                  #/components/examples/ExampleApmRequestInitPaymentPixAutomatico
              Przelewy24:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentPrzelewy24'
              PSE:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentPse'
              Sencillito:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentSencillito'
              Servipag:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentServipag'
              SmartPix:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentPix'
              UPI:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentUpi'
              Webpay:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentWebpay'
              WeChat Pay:
                $ref: '#/components/examples/ExampleApmRequestInitPaymentWechatpay'
              Product-based payment PayPal:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductPaypal'
              Product-based payment Alipay:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductAlipay'
              Product-based payment Blik:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductBlik'
              Product-based payment Blik Pay Later:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductBlikBnpl'
              Product-based payment Boleto:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductBoleto'
              Product-based payment Efecty:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductEfecty'
              Product-based payment GCash:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductGcash'
              Product-based payment Ideal:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductIdeal'
              Product-based payment MB WAY:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductMbway'
              Product-based payment Mercado Pago:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductMercadopago
              Product-based payment MobilePay:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductMobilepay'
              Product-based payment Multibanco:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductMultibanco
              Product-based payment OXXO:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductOxxo'
              Product-based payment Pay by Bank:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductOpenbanking
              Product-based payment Pix QR:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductPixQr'
              Product-based payment Pix Automático:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductPixAutomatico
              Product-based payment Przelewy24:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductPrzelewy24
              Product-based payment PSE:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductPse'
              Product-based payment Sencillito:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductSencillito
              Product-based payment Servipag:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductServipag'
              Product-based payment SmartPix:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductPix'
              Product-based payment UPI:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductUpi'
              Product-based payment Webpay:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductWebpay'
              Product-based payment WeChat Pay:
                $ref: '#/components/examples/ExampleApmRequestOneTimeProductWechatpay'
              Subscription payment PayPal:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentPaypal
              Subscription payment Alipay:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentAlipay
              Subscription payment Blik:
                $ref: '#/components/examples/ExampleApmRequestSubscriptionPaymentBlik'
              Subscription payment GCash:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentGcash
              Subscription payment MB WAY:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentMbway
              Subscription payment Mercado Pago:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentMercadopago
              Subscription payment Multibanco:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentMultibanco
              Subscription payment Pix QR:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentPixQr
              Subscription payment Pix Automático:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentPixAutomatico
              Subscription payment SmartPix:
                $ref: '#/components/examples/ExampleApmRequestSubscriptionPaymentPix'
              Subscription payment UPI:
                $ref: '#/components/examples/ExampleApmRequestSubscriptionPaymentUpi'
              Subscription payment WeChat Pay:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentWechatpay
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseApmSuccess'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                PayPal:
                  $ref: '#/components/examples/ExampleApmResponsePaypal'
                Alipay:
                  $ref: '#/components/examples/ExampleApmResponseAlipay'
                Blik:
                  $ref: '#/components/examples/ExampleApmResponseBlik'
                Blik Pay Later:
                  $ref: '#/components/examples/ExampleApmResponseBlikBnpl'
                Bizum:
                  $ref: '#/components/examples/ExampleApmResponseBizum'
                Boleto:
                  $ref: '#/components/examples/ExampleApmResponseBoleto'
                Efecty:
                  $ref: '#/components/examples/ExampleApmResponseEfecty'
                GCash:
                  $ref: '#/components/examples/ExampleApmResponseGcash'
                Ideal:
                  $ref: '#/components/examples/ExampleApmResponseIdeal'
                MB WAY:
                  $ref: '#/components/examples/ExampleApmResponseMbway'
                Mercado Pago:
                  $ref: '#/components/examples/ExampleApmResponseMercadopago'
                MobilePay:
                  $ref: '#/components/examples/ExampleApmResponseMobilepay'
                Multibanco:
                  $ref: '#/components/examples/ExampleApmResponseMultibanco'
                OXXO:
                  $ref: '#/components/examples/ExampleApmResponseOxxo'
                Pay by Bank:
                  $ref: '#/components/examples/ExampleApmResponseOpenbanking'
                Pix QR:
                  $ref: '#/components/examples/ExampleApmResponsePixQr'
                Pix Automático:
                  $ref: '#/components/examples/ExampleApmResponsePixAutomatico'
                Przelewy24:
                  $ref: '#/components/examples/ExampleApmResponsePrzelewy24'
                PSE:
                  $ref: '#/components/examples/ExampleApmResponsePse'
                Sencillito:
                  $ref: '#/components/examples/ExampleApmResponseSencillito'
                Servipag:
                  $ref: '#/components/examples/ExampleApmResponseServipag'
                SmartPix:
                  $ref: '#/components/examples/ExampleApmResponsePix'
                UPI:
                  $ref: '#/components/examples/ExampleApmResponseUpi'
                Webpay:
                  $ref: '#/components/examples/ExampleApmResponseWebpay'
                WeChat Pay:
                  $ref: '#/components/examples/ExampleApmResponseWechatpay'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /v1/recurring:
    servers:
      - url: https://gate.solidgate.com/api
        description: APM payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: make-apm-recurring
      summary: Recurring
      description: >-
        Initiate a token-based <a
        href="https://docs.solidgate.com/payments/alternative-payments/manage-alternative-payments/#recurring"
        target="_blank">recurring</a> payment refers to an automatic billing
        applied to a customer's payment method at predetermined intervals. 


        <blockquote>
          <p>This process involves securely storing a token representing the customer's payment details and using it for subsequent transactions without requiring input each time.</p>
        </blockquote>
      tags:
        - Alternative payment methods
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestApmRecurringDiscriminator'
                - $ref: >-
                    #/components/schemas/RequestApmRecurringOneTimeProductDiscriminator
                - $ref: >-
                    #/components/schemas/RequestApmRecurringSubscriptionDiscriminator
            examples:
              PayPal:
                $ref: '#/components/examples/ExampleApmRequestRecurringPaypal'
              Alipay:
                $ref: '#/components/examples/ExampleApmRequestRecurringAlipay'
              Blik:
                $ref: '#/components/examples/ExampleApmRequestRecurringBlik'
              GCash:
                $ref: '#/components/examples/ExampleApmRequestRecurringGcash'
              MB WAY:
                $ref: '#/components/examples/ExampleApmRequestRecurringMbway'
              Mercado Pago:
                $ref: '#/components/examples/ExampleApmRequestRecurringMercadopago'
              Pix Automático:
                $ref: '#/components/examples/ExampleApmRequestRecurringPixAutomatico'
              SmartPix:
                $ref: '#/components/examples/ExampleApmRequestRecurringPix'
              UPI:
                $ref: '#/components/examples/ExampleApmRequestRecurringUpi'
              WeChat Pay:
                $ref: '#/components/examples/ExampleApmRequestRecurringWechatpay'
              Product-based payment PayPal:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringPaypal
              Product-based payment Alipay:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringAlipay
              Product-based payment Blik:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringBlik
              Product-based payment GCash:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringGcash
              Product-based payment MB WAY:
                $ref: >-
                  #/components/examples/ExampleApmRequestRecurringOneTimeProductMbway
              Product-based payment Mercado Pago:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringMercadopago
              Product-based payment UPI:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringUpi
              Product-based payment Pix Automático:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringPixAutomatico
              Product-based payment SmartPix:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringPix
              Product-based payment WeChat Pay:
                $ref: >-
                  #/components/examples/ExampleApmRequestOneTimeProductRecurringWechatpay
              Subscription payment PayPal:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringPaypal
              Subscription payment Alipay:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringAlipay
              Subscription payment Blik:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringBlik
              Subscription payment GCash:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringGcash
              Subscription payment MB WAY:
                $ref: >-
                  #/components/examples/ExampleApmRequestRecurringSubscriptionPaymentMbway
              Subscription payment Mercado Pago:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringMercadopago
              Subscription payment Pix Automático:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringPixAutomatico
              Subscription payment SmartPix:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringPix
              Subscription payment UPI:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringUpi
              Subscription payment WeChat Pay:
                $ref: >-
                  #/components/examples/ExampleApmRequestSubscriptionPaymentRecurringWechatpay
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseApmRecurring'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleApmResponseRecurring'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseError'
  /v1/recurring-token/cancel:
    servers:
      - url: https://gate.solidgate.com/api
        description: APM payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: revoke-apm-recurring-token
      summary: Revoke token
      description: >-
        Request to <a
        href="https://docs.solidgate.com/payments/alternative-payments/manage-alternative-payments/#revoke-token"
        target="_blank">revoke</a> a recurring token for alternative payment
        methods.


        <blockquote>
          <p>Available for tokens initiated with <code>payment_method</code> <code>alipay</code>, <code>mbway</code> or <code>wechatpay</code>.</p>
        </blockquote>
      tags:
        - Alternative payment methods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestApmRecurringTokenCancellation'
            examples:
              Request:
                $ref: >-
                  #/components/examples/ExampleApmRequestRecurringTokenCancellation
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseApmRecurringTokenCancellation'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: >-
                      #/components/schemas/ResponseApmRecurringTokenCancellationError
              examples:
                Success:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationSuccess
                Error 1.01 Authentication failed:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorAuthFailed
                Error 2.01 Token not found:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorTokenNotFound
                Error 2.01 Unsupported method:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorUnsupportedMethod
                Error 2.01 Token already cancelled:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorAlreadyCancelled
                Error 2.01 Cancellation already processing:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorAlreadyProcessing
                Error 2.01 Cancellation is already concurrently processing:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorAlreadyConcurrentlyProcessing
                Error 2.01 Cancellation failed:
                  $ref: >-
                    #/components/examples/ExampleApmResponseRecurringTokenCancellationErrorFailed
  /v1/refund:
    servers:
      - url: https://gate.solidgate.com/api
        description: APM payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: refund-apm-order
      summary: Refund
      description: >-
        Initiate a <a
        href="https://docs.solidgate.com/payments/alternative-payments/manage-alternative-payments/#refund"
        target="_blank">refund</a> request to return funds for successfully
        processed orders.


        <blockquote>

        <p>It is important to note that, for instance, refunds might not be
        accessible or could be restricted when using alternative cash-based
        payment methods.</p>

        </blockquote>
      tags:
        - Alternative payment methods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestApmRefund'
            examples:
              Refund:
                $ref: '#/components/examples/ExampleApmRequestRefund'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseApmRefund'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseMainError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleApmResponseRecurring'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Invalid data:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
  /v1/status:
    servers:
      - url: https://gate.solidgate.com/api
        description: APM payments Live API
    parameters:
      - in: header
        name: merchant
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainMerchant'
      - in: header
        name: signature
        required: true
        schema:
          $ref: '#/components/schemas/HeaderMainSignature'
    post:
      operationId: get-status-apm-order
      summary: Check order status
      description: >-
        Request for receiving current order status. The key benefit is that it
        allows merchants to efficiently monitor and manage their payments by
        providing comprehensive information about the order's status, payment
        method, transaction details, and customer information.
      tags:
        - Alternative payment methods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestApmCheckOrderStatus'
      responses:
        '200':
          description: Request received
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/ResponseApmCheckOrderStatus'
                  - $ref: '#/components/schemas/ResponseMainAuthenticationFailed'
                  - $ref: '#/components/schemas/ResponseApmError'
              examples:
                Success:
                  $ref: '#/components/examples/ExampleApmResponseCheckOrderStatus'
                Authentication failed:
                  $ref: '#/components/examples/ExampleMainResponseErrorAuthFailed'
                Error 2.01 Order not found:
                  $ref: '#/components/examples/ExampleMainResponseErrorOrderNotFound'
                Error X.XX:
                  $ref: '#/components/examples/ExampleMainResponseErrorInvalidData'
  /products:
    servers:
      - url: https://subscriptions.solidgate.com/api/v1
        description: Subscriptions Live API
    post:
      operationId: create-product
      description: >-
        This method allows merchants to <a
        href="https://docs.solidgate.com/billing/manage-products/#create-product"
        target="_blank">create new products</a> by providing the required
        details.


        <blockquote>
          <p>Products created via API cannot be edited in the Solidgate Hub unless a default price is set. To add a default price and enable editing, use the <a href="https://api-docs.solidgate.com/api/products-and-prices/create-product-price" target="_blank">create product price</a> operation.</p>
        </blockquote>
      summary: Create product
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RequestBillingProductCreateOneTime'
                - $ref: '#/components/schemas/RequestBillingProductCreateSubscription'
            examples:
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleBillingRequestProductCreateOneTime
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleBillingRequestProductCreateSubscription
      responses:
        '200':
          description: Product has been created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseBillingProductCreateOneTime'
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductCreateSubscription
              examples:
                Product-based payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductCreateOneTime
                Subscription payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductCreateSubscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnprocessableEntityError'
    get:
      operationId: get-products
      summary: Get product list
      description: >-
        By using this method, merchants can find products and <a
        href="https://docs.solidgate.com/billing/manage-products/#retrieve-product-details"
        target="_blank">retrieve their details</a> by applying filters such as
        product identifier, status, trial availability, and sorting criteria
        with pagination support.
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
        - in: query
          name: filter[id]
          schema:
            type: string
            example: >-
              ac43b415-5522-4373-b026-a365462f9657,xx33b415-5522-4373-b026-a365462f9657
            maxLength: 100
          description: Specify the comma-separated ids of products.
          allowReserved: true
        - in: query
          name: filter[status]
          schema:
            type: string
            description: >-
              Specify the status of products to retrieve. Use `active`,
              `disabled`, or `archived` to return products that match the needed
              status.
            enum:
              - active
              - disabled
              - archived
          allowReserved: true
        - in: query
          name: filter[has_trial]
          schema:
            type: boolean
            description: >-
              Specify whether the products should have a trial available. Use
              `true` to retrieve products with a trial option.
          allowReserved: true
        - in: query
          name: pagination[limit]
          schema:
            description: Specify the number of items to return.
            type: integer
            example: 10
            default: 10
            minimum: 1
            maximum: 100
          allowReserved: true
        - in: query
          name: pagination[offset]
          schema:
            description: >-
              Specify the number of items to skip before starting to collect the
              result set.
            type: integer
            example: 10
            default: 0
            minimum: 0
          allowReserved: true
      responses:
        '200':
          description: Product data
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductCreateListOneTime
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductCreateListSubscription
              examples:
                Product-based payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductListOneTime
                Subscription payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductListSubscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
  /products/{product_id}:
    servers:
      - url: https://subscriptions.solidgate.com/api/v1
        description: Subscriptions Live API
    patch:
      operationId: update-product
      summary: Update product
      description: >-
        This method <a
        href="https://docs.solidgate.com/billing/manage-products/#edit-product"
        target="_blank">updates the existing product</a> with specified details
        and returns the updated product information.


        <blockquote>
          <p>Recurring products can only be updated when all associated subscriptions are in <code>expired</code> status. Products without subscriptions can be updated without restrictions.</p>
        </blockquote>
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
        - in: path
          name: product_id
          required: true
          schema:
            type: string
            description: >-
              Unique <a
              href="https://docs.solidgate.com/billing/manage-products/"
              target="_blank">product</a> identifier.
            example: ac43b415-5522-4373-b026-a365462f9657
            format: uuid
            maxLength: 36
            minLength: 36
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/RequestBillingProductUpdateOneTime'
                - $ref: '#/components/schemas/RequestBillingProductUpdateSubscription'
            examples:
              Product-based payment:
                $ref: >-
                  #/components/examples/ExampleBillingRequestProductUpdateOneTime
              Subscription payment:
                $ref: >-
                  #/components/examples/ExampleBillingRequestProductUpdateSubscription
      responses:
        '200':
          description: Product has been updated
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseBillingProductUpdateOneTime'
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductUpdateSubscription
              examples:
                Product-based payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductUpdateOneTime
                Subscription payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductUpdateSubscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
        '404':
          description: Entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingEntityNotFound'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnprocessableEntityError'
    get:
      operationId: get-product-by-id
      summary: Get product by ID
      description: >-
        This method allows merchants to <a
        href="https://docs.solidgate.com/billing/manage-products/#retrieve-product-details"
        target="_blank">obtain the existing product</a> by its identifier.
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
        - in: path
          name: product_id
          required: true
          schema:
            description: >-
              Unique <a
              href="https://docs.solidgate.com/billing/manage-products/"
              target="_blank">product</a> identifier.
            example: ac43b415-5522-4373-b026-a365462f9657
            format: uuid
            maxLength: 36
            minLength: 36
      responses:
        '200':
          description: Product information
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseBillingProductGetByIdOneTime'
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductGetByIdSubscription
              examples:
                Product-based payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductGetByIdOneTime
                Subscription payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductGetByIdSubscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
        '404':
          description: Entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingEntityNotFound'
  /products/{product_id}/archive:
    servers:
      - url: https://subscriptions.solidgate.com/api/v1
        description: Subscriptions Live API
    post:
      operationId: archive-product
      summary: Archive product
      description: >-
        By using this method, merchants can <a
        href="https://docs.solidgate.com/billing/manage-products/#archive-product"
        target="_blank">archive products</a>.


        <blockquote>
          <p>Note that the archived product cannot be restored or added to new subscriptions. Existing subscriptions with the archived product remain active until cancelled.</p>
        </blockquote>
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
        - in: path
          name: product_id
          required: true
          schema:
            type: string
            description: >-
              Unique <a
              href="https://docs.solidgate.com/billing/manage-products/"
              target="_blank">product</a> identifier.
            example: ac43b415-5522-4373-b026-a365462f9657
            format: uuid
            maxLength: 36
            minLength: 36
      responses:
        '200':
          description: Product has been archived
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseBillingProductArchiveOneTime'
                  - $ref: >-
                      #/components/schemas/ResponseBillingProductArchiveSubscription
              examples:
                Product-based payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductArchiveOneTime
                Subscription payment:
                  $ref: >-
                    #/components/examples/ExampleBillingResponseProductArchiveSubscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
        '404':
          description: Entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingEntityNotFound'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnprocessableEntityError'
  /products/{product_id}/prices:
    servers:
      - url: https://subscriptions.solidgate.com/api/v1
        description: Subscriptions Live API
    post:
      operationId: create-product-price
      summary: Create product price
      description: >-
        By using this method, merchants can <a
        href="https://docs.solidgate.com/billing/manage-products/#create-price"
        target="_blank">create a new product price</a> with specified details
        and retrieve the created product price information.
      tags:
        - Products and prices
      parameters:
        - in: header
          name: merchant
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainMerchant'
        - in: header
          name: signature
          required: true
          schema:
            $ref: '#/components/schemas/HeaderMainSignature'
        - name: product_id
          in: path
          schema:
            type: string
            description: >-
              Unique <a
              href="https://docs.solidgate.com/billing/manage-products/"
              target="_blank">product</a> identifier.
            example: ac43b415-5522-4373-b026-a365462f9657
            format: uuid
            maxLength: 36
            minLength: 36
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBillingProductPriceCreate'
      responses:
        '200':
          description: Product price has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingProductPriceCreate'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnauthorized'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMainAccessDenied'
        '404':
          description: Entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingEntityNotFound'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBillingUnprocessableEntityError'
    get:
      operationId: get-product-prices
[...]
